.advantages {
  background-color: #F6F6F6;
  padding: 50px 0;
}

.advantages__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
