<div style="max-width: 580px; width: 100%;">
  <div style="padding: 20px; background-color: #FFCB53;">
    <h1 style="font-family: Arial, sans-serif; color: #2F2F2F; font-size: 24px; text-align: center; margin: 0;">
      Заявка на обратную связь
    </h1>
  </div>
  <div style="padding: 30px 0;">
    <% if (name) {%>
    <p style="font-family: Arial, sans-serif; color: #2F2F2F; font-size: 16px">
      <b>Имя: </b>
      <span><%=name %></span>
    </p>
    <%} %>
    <% if (phoneEmail) {%>
    <p style="font-family: Arial, sans-serif; color: #2F2F2F; font-size: 16px">
      <b>Телефон/email: </b>
      <span><%=phoneEmail %></span>
    </p>
    <%} %>
    <% if (message) {%>
    <p style="font-family: Arial, sans-serif; color: #2F2F2F; font-size: 16px">
      <b>Сообщение: </b>
      <span><%=message %></span>
    </p>
    <%} %>
  </div>
</div>
