.price-list {
  background-color: $white;
  padding: 80px 0 110px;
}

.price-list__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-list__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.price-list__reset-btn {
  font-family: $font-family-base;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: $semibold;
  color: $text-color;
  border-bottom: 1px solid $text-color;
  margin-left: auto;
  outline: none;
  transition: .25s color ease, .25s border-color ease;

  &:hover, &:focus {
    color: $brand-color;
    border-color: $brand-color;
  }
}

.price-list__show-btn {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $semibold;
  color: $text-color;
  padding: 7px 24px;
  border: 2px solid $text-color;
  border-radius: 6px;
  outline: none;
  transition: .25s border-color ease, .25s background-color ease;

  &:hover, &:focus {
    border-color: $brand-color;
    background-color: $brand-color;
  }
}

.price-list__results {
  width: 100%;
}

.price-list__company-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 30px;
}

.price-list__company-name {
  font-family: $font-family-base;
  font-size: 28px;
  font-weight: $semibold;
  color: $text-color;
  margin: 0 0 12px;
}

.price-list__company-left-box {
  p {
    font-family: $font-family-base;
    font-weight: $medium;
    font-size: 16px;
    color: $text-color;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, h3, h4, h5, h6 {
    font-family: $font-family-base;
    font-weight: $semibold;
    font-size: 22px;
    color: $text-color;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    font-family: $font-family-base;
    font-weight: $medium;
    font-size: 16px;
    color: $text-color;
    display: list-item;
    list-style-position: inside;
  }

  a {
    font-family: $font-family-base;
    font-weight: $medium;
    font-size: 16px;
    color: $brand-color;
    border-bottom: 1px solid $brand-color;
  }
}

.price-list__company-link {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $semibold;
  color: $brand-color;
  margin: 0 30px 0 0;
  border-bottom: 1px solid $brand-color;
}

.price-list__contact-btn {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $semibold;
  color: $text-color;
  padding: 7px 24px;
  border: 2px solid $brand-color;
  border-radius: 6px;
}

.price-list__company-right-box {
  margin-left: auto;
}

.price-list__result-table {
  width: 100%;
  border-spacing: 0;
  border-radius: 6px;
  border: 2px solid #DEDDDD;

  th {
    white-space: nowrap;
    padding: 8px 18px;
    text-align: center;
  }

  td {
    background-color: #F6F6F6;
    padding: 8px 18px;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: $semibold;
    color: $text-color;

    &:nth-child(2) {
      white-space: nowrap;
      text-align: center;
    }

    &:nth-child(3) {
      white-space: nowrap;
      text-align: center;
    }
  }

  th, td {
    border-bottom: 2px solid #dedddd;
    border-left: 2px solid #dedddd;

    &:first-child {
      border-left: none;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.price-list__table-title {
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: $bold;
  color: $text-color;
  margin: 0;
}

.price-list__table-text {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $semibold;
  color: $text-color;
  margin: 12px 0 0;
}

.price-list__multiselect {
  width: 230px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $semibold;
  color: $text-color;
  cursor: pointer;
  min-height: 38px;

  &:last-of-type {
    margin-right: 0;
  }

  .multiselect__tags {
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    min-height: 38px;
    padding: 9px 40px 0 18px;
  }

  .multiselect__placeholder {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
  }

  .multiselect__single {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .multiselect__select {
    height: 36px;
  }

  &.multiselect--active:not(.multiselect--above) .multiselect__current,
  &.multiselect--active:not(.multiselect--above) .multiselect__input,
  &.multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-radius: 8px;
  }

  .multiselect__option {
    background-color: #F6F6F6;
    border: none;
    color: $text-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 18px;
    font-family: $font-family-base;
    font-weight: $medium;
    max-width: 230px;

    &--selected {
      .price-list__checkbox::before {
        opacity: 1;
      }
    }

    &--highlight {
      background-color: #E5E5E5;
    }
  }

  .multiselect__content-wrapper {
    border: none;
  }

  .price-list__checkbox {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $gray;
    border-radius: 4px;
    flex-shrink: 0;
    margin-right: 15px;
    position: relative;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 2px;
      background-color: $brand-color;
      position: absolute;
      top: 3px;
      left: 3px;
      opacity: 0;
      transition: .25s opacity ease;
    }
  }

  .price-list__option-text {
    text-align: right;
    flex-grow: 1;
    white-space: normal;
  }
}

.price-list__table-regions {
  margin-top: 8px;
}

.price-list__table-region {
  display: inline-block;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $semibold;
  color: $gray;
  margin: 6px 12px 0 0;
}

.price-list__table-elevators {
  margin-top: 8px;
}

.price-list__table-elevator {
  display: inline-block;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $medium;
  color: $text-color;
  margin: 6px 12px 0 0;
}

.price-list__result-table-wrap {
  width: 100%;
  overflow-x: auto;
}

.price-list__result-table-box {
  width: 100%;
}

@include tablet-lg {
  .price-list__multiselect:last-of-type {
    margin-right: 30px;
  }

  .price-list__reset-btn {
    margin-left: 0;
  }

  .price-list__company-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .price-list__company-right-box {
    margin-left: 0;
    margin-top: 20px;
  }

  .price-list {
    padding: 80px 0;
  }
}

@include tablet-md {
  .price-list__result-table-wrap {
    margin-left: -30px;
    width: calc(100% + 60px);
  }

  .price-list__result-table-box {
    width: 800px;
    padding: 0 30px;
  }

  .price-list {
    padding: 60px 0;
  }
}

@include tablet-sm {
  .price-list {
    padding: 40px 0;
  }

  .price-list__wrapper {
    padding: 0 20px;
  }

  .price-list__result-table-wrap {
    margin-left: -20px;
    width: calc(100% + 40px);
  }

  .price-list__result-table-box {
    padding: 0 20px;
  }
}
