@font-face {
  font-family: 'HouschkaPro';
  src: url("./assets/fonts/HouschkaPro-Medium.woff") format('woff2'),
  url("./assets/fonts/HouschkaPro-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HouschkaPro';
  src: url("./assets/fonts/HouschkaPro-DemiBold.woff2") format('woff2'),
  url("./assets/fonts/HouschkaPro-DemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HouschkaPro';
  src: url("./assets/fonts/HouschkaPro-Bold.woff2") format('woff2'),
  url("./assets/fonts/HouschkaPro-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
