$font-family-base: 'HouschkaPro', Arial, sans-serif;
$font-line-height-base: 1.3;

$medium: 500;
$semibold: 600;
$bold: 700;

$white: #fff;
$black: #000;
$text-color: #2F2F2F;
$gray: #8A8A8A;
$brand-color: #FAAE00;
